<div class="container">
    <form action="" class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">
                <input type="text" class="text">
                </label>
            </div>
            <div class="form-group">
                <label for="">
                <input type="text" class="text">
                </label>
            </div>
            <div class="form-group">
                <label for="">
                <input type="text" class="text">
                </label>
            </div>
        </div>
    </form>
</div>