<header class="jumbotron">
    <h1 class="text-center">{{title}}</h1>
</header>
<article class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova Foto</a>
            </span>
            <input #textoProcurado class="form-control" type="search" placeholder="Filtrar pelo título da foto" (keyup)=0>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value;  let i=index">
            <app-painel [titulo]="foto.titulo" class="col-md-3">
                <app-foto [url]="foto.url" [titulo]="foto.titulo"></app-foto>
                <button class="btn btn-danger" (click)="deletar(foto)">X</button>
            </app-painel>
            <div *ngIf="(i%4)==3" class="clearfix"></div>
        </div>
    </div>
</article>